# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Build / Compiled files
# =========================
bin/
target/
out/
*.class

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Eclipse
# =========================
.settings/
.project
.classpath